		<!-- Banner -->
		<section>
			<div class="responsive">
				<img src="/site/images/logo.png" alt="img-responsive" />
			 </div>
		<!-- Menu -->
			<nav>
				<ul>
					<li class="logo"><a href="/site/index.html">HOME</a></li>
					<li class="items"><a href="/site/produto.html">Produtos</a></li>
					<li class="items"><a href="/site/projeto.html">Projetos</a></li>
					<li class="items"><a href="/site/tutorial.html">Tutoriais</a></li>
					<li class="items"><a href="/site/parceiro.html">Parceiros</a></li>
					<li class="items"><a href="/site/contato.html">Contato</a></li>
					<li class="items"><a href="/site/sobre.html">Sobre</a></li>
					<li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
				</ul>
				</nav>
					<script>
						$(document).ready(function(){
						  $('.btn').click(function(){
							$('.items').toggleClass("show");
							$('ul li').toggleClass("hide");
						  });
						});
					</script>
		</section>