
<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include header-nav.html %}
        <section id="three" class="wrapper">
            <div class="inner">
                <div id="posts-container" class="posts-container"></div>
            </div>
       </section>
       <div class="loader"> 
           <div class="circle"></div>
       </div>
        <script src="/site/assets/js/app.js"></script>
    </body>
    {% include footer.html %}
</html>