
<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include header-nav.html %}
        <section id="three" class="wrapper">
            <div class="inner">
                <div id="posts-container" class="posts-container"></div>
                <div class="loader"> 
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
        </section>
        <script src="/site/assets/js/app.js"></script>
        {% include footer.html %}
    </body>
</html>