<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include header-nav.html %}
        <section id="three" class="wrapper">
            <div class="inner">
                <div class="filter-container">
                    <input
                        type="text"
                        id="filter"
                        class="filter"
                        placeholder="Pesquisar"
                        autofocus
                    />
                </div>
            </div>
            <div class="inner">
                <div id="posts-container" class="posts-container"></div>
            </div>
            <div class="loader"> 
                <div class="circle"></div>
            </div>
       </section>
        <script src="/site/assets/js/json/posts.js"></script>
    </body>
    {% include footer.html %}
</html>