<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include header-nav.html %}
        <section id="one" class="special">
            <h2 id="content"> {{ page.title }} </h2>
        </section>
		<!-- One -->
		<section id="one">
			<div class="parceiro">
			</br>
				<ul>
					<a href="http://sti.ufs.br" target="_blank"> <img src="images/parceiro/sti.png" src="https://meudominio.com/public_html/imagens/imagem.jpg" alt="img-parceiro"/> </a>	
				</ul>
				<ul>
					<a href="http://www.itatechjr.com.br" target="_blank">  <img src="images/parceiro/itatech-jr.png" alt="img-parceiro" /></a>
				</ul>
				<ul>
					<a href="https://www.sigaa.ufs.br/sigaa/public/departamento/portal.jsf?id=198" target="_blank"> <img src="images/parceiro/dsi.png" alt="img-parceiro" /> </a> </span>
				</ul>
			</div>
		</section>
        {% include footer.html %}
    </body>
</html>
