<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include header-nav.html %}
        <section id="three" class="wrapper">
			<div class="inner">
                <p class="image fit">    
                    {% assign sorted-posts = site.posts | where: "categories","projetos" %}
                    {% for post in sorted-posts limit: 10 %}
                        <h2><a href="/site{{ post.url }}">{{ post.title-projeto}}</a><h2>
                    {% endfor %}
                </p>
            </div>
        </section>
        {% include footer.html %}
    </body>
</html>