<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include header-nav.html %}
        <section id="three" class="wrapper">
			<div class="inner">  
                {% assign sorted-posts = site.posts | where: "categories","tutoriais" %}
                {% for post in sorted-posts limit: 3 %}
                    <h2> <a href="/site{{ post.url }}"> {{ post.title-tutorial}} </a><h2>
                    <h1> {{ post.description }} </h1>
                    <ul class="actions">
                        <li><a href="/site{{ post.url }}" class="button special">Leia mais</a></li>
                    </ul>
                {% endfor %}
            </div>
        </section>
        {% include footer.html %}
    </body>
</html>