<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include header-nav.html %}
        <section id="three" class="wrapper">
			<div class="inner">
                <p class="image fit">    
                    {% for post in site.posts %}
                    <h2><a href="{{ post.url }}">{{ post.title-tutorial}}</a><h2>
                    {% endfor %}
                </p>
            </div>
        </section>
        {% include footer.html %}
    </body>
</html>